<div class="container">
  <h1>Welcome to this Sinatra blog</h1>

  <ul>
    <li><a href='/posts'>View all posts</a></li>
    <li><a href='/tags'>View all tags</a></li>
    <li><a href='/users'>View all user profiles</a></li>
  </ul>

  <a href='/create_post'>Click here to create a new post</a>


  <!-- still needs the following:
       1. login and create account options -->

</div>
