<div class="container">  
  <h1>Welcome to this Sinatra blog</h1>
  <a href='/create_post'>Click here to create a new post</a>


  <!-- still needs the following:
       1. login and create account options -->

</div>
