<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>

  <title></title>
</head>
<body>
  <div class="container">

    <div class="masthead">
      <h3 class="muted">Sinatra Sensei</h3>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/tags">Tags</a></li>
              <li><a href="/users">Users</a></li>
              <% if session[:id] %> 
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login / Create Account</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <hr>
    <div class="footer">
      <p>&copy; Fab Mackojc 2013</p>
    </div>
    <div class='path'><%= request.path_info %></div>
  </div>
</body>
</html>
