<div class="container">
  <a href='/'>Homepage</a>
  <h1>Here is a list of all tags:</h1>

  <ul id='tag_list'>
    <% @all_tags.each do |tag| %>
      <li><a href='/tags/<%= tag.name %>'>#<%= tag.name %></a></li>
    <% end %>
  </ul>
</div>
