<form action='/posts/:id/update' method='POST'>
  <input type='text' placeholder='title' name='title'>
  <textarea placeholder='body' name='body'></textarea>
  <input type='text' placeholder='tags' name='tags'>
  <input type='submit' value='Update Post'>
</form>
